<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <!--[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" -->

    <!-- Quickview Condition monitoring  -->
    <mat-toolbar>Windpark A</mat-toolbar>
    <div class="quickview">
      <div *ngFor="let plant of plants" class="turbine">
        <a [routerLink]="['./wea', plant.id]">
          <wisa-condition-quickview [turbine]="plant.id"></wisa-condition-quickview>
        </a>
      </div>
    </div>
    <mat-toolbar>Windpark B</mat-toolbar>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <!-- Add Content Here -->
    <!-- Header -->
    <div class="header">

      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>
      <a *ngIf="!(isHandset$ | async)" routerLink="/" class="link">
        <img src="../../assets/img/Logo_WiSAbigdata_300dpi.png" style="width: 200px">
      </a>
      <div>
        <span>Uhrzeit</span> <br>
        <span>Anlage</span>
      </div>
      <div>
      <mat-slide-toggle (toggleChange)="openOcarina()" toggleOcarina></mat-slide-toggle>

      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </mat-menu>
      </div>
      <div [hidden]="!visible" class="ocarina">
        <wisa-ocarina-of-time></wisa-ocarina-of-time>
      </div>
    </div>
    <!-- /Header -->
    <div class="dashboard">

      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- <button mat-fab (click)="addTiles()"><mat-icon>add</mat-icon> </button>-->
  </mat-sidenav-content>

</mat-sidenav-container>
