<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <!--[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" -->

    <!-- Quickview Condition monitoring  -->
    <mat-toolbar>Windpark A</mat-toolbar>
    <div class="quickview">
      <div *ngFor="let plant of plants" class="turbine">
        <a [routerLink]="['./wea', plant.id]">
          <wisa-condition-quickview [turbine]="plant.id"></wisa-condition-quickview>
        </a>
      </div>
    </div>
    <mat-toolbar>Windpark B</mat-toolbar>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <!-- Add Content Here -->
    <!-- Header -->
  <wisa-header ></wisa-header>
    <!-- /Header -->
    <div class="dashboard">

      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- <button mat-fab (click)="addTiles()"><mat-icon>add</mat-icon> </button>-->
  </mat-sidenav-content>

</mat-sidenav-container>
