.content {
  position: relative;
  min-height: 400px;
  min-width: 400px;
}
.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px;
}

.map-frame {
  border: 0px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

myDivMarker {
  height: 50px;
  width: 50px;
  background: url(WEA.svg);
  border: 5px solid green;
}
