<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <!--[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" -->
    <mat-toolbar>Windpark A</mat-toolbar>

    <mat-toolbar *ngFor="let row of rows">
      <div *ngFor="let wea of row" class="example-spacer">
        <a [routerLink]="['./wea', wea.id]">
          <mat-icon matBadge="15" matBadgeColor="warn" matBadgeSize="small" svgIcon="wind-plant"
                    class="size-24"></mat-icon>
        </a>
        <!-- <button mat-button (click)="choosedWep(wea.id)"> <mat-icon  matBadge="15" matBadgePosition="above before" matBadgeColor="warn" matBadgeSize="small" svgIcon="wind-plant" class="size-24"></mat-icon></button> -->
      </div>
    </mat-toolbar>

    <mat-toolbar>Windpark B</mat-toolbar>

  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <!-- Add Content Here -->
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>
      <a *ngIf="!(isHandset$ | async)" routerLink="/" class="link"> <img src="assets/img/Logo_WiSAbigdata_300dpi.png" style="width: 200px"></a>
      <span class="example-spacer"></span>

      <mat-slide-toggle (toggleChange)="openOcarina()" toggleOcarina></mat-slide-toggle>
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </mat-menu>
    </mat-toolbar>
    <div [hidden]="!visible">
      <wisa-ocarina-of-time></wisa-ocarina-of-time>
      <!-- <wisa-ocarina-of-time [ocarina]="ocarina" (timeRange)="playOcarina($event)"></wisa-ocarina-of-time> -->
    </div>


    <diV>
      <router-outlet></router-outlet>
    </diV>
    <!-- <button mat-fab (click)="addTiles()"><mat-icon>add</mat-icon> </button>-->
  </mat-sidenav-content>

</mat-sidenav-container>
