<mat-grid-list cols="6" rowHeight="300px">

  <mat-grid-tile [colspan]="2" [rowspan]="1" style="background: #24292e">
    <div style="height: 200px; width: 200px;  background: #004ca0">asdsd</div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="2" style="background: #24292e">
    <div style="background: #004ca0">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h1></h1>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>
                <mat-icon>settings</mat-icon>
                Einstellung
              </button>
              <button mat-menu-item (click)="removeTile()">
                <mat-icon>delete</mat-icon>
                Löschen
              </button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!-- Content -->
        </mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1" style="background: #24292e">
    <div style="height: 200px; width: 200px;  background: #004ca0">asdsd</div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6" [rowspan]="2" style="background: #24292e">
    <div style="height: 200px; width: 200px;  background: #004ca0">asdsd</div>
  </mat-grid-tile>
</mat-grid-list>


