@use "../node_modules/@angular/material" as mat;

@include mat.core();


//Light Theme
$light-primary: mat.define-palette(mat.$indigo-palette, 600);
$light-accent: mat.define-palette(mat.$blue-gray-palette, A200,  A100, A400);

$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent
  )
));

.light-theme{
  @include mat.all-component-colors($light-theme)
}

// Dark theme
$dark-primary: mat.define-palette(mat.$orange-palette, 600);
$dark-accent:  mat.define-palette(mat.$amber-palette, A200, A100, A400);

$dark-theme:   mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
  )
));
.dark-theme {
  @include mat.all-component-colors($dark-theme);
}

// Green Light theme
$green-light-primary: mat.define-palette(mat.$green-palette, 600);
$green-light-accent:  mat.define-palette(mat.$teal-palette, A200, A100, A400);

$green-light-theme:   mat.define-light-theme((
  color: (
    primary: $green-light-primary,
    accent: $green-light-accent,
  )
));
.green-light-theme {
  @include mat.all-component-colors($green-light-theme)
}
