<mat-grid-list cols="6" rowHeight="300px">

  <mat-grid-tile *ngFor="let profile of profiles" [colspan]="profile.cols" [rowspan]="profile.rows" >
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          <h1>{{profile.channel}}</h1>
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="openPreference()"><mat-icon>settings</mat-icon></button>
            <button mat-menu-item (click)="removeTile()"><mat-icon>delete</mat-icon></button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <!-- Content -->
        <wisa-line-chart [data$]="data$" [profile]="profile" ></wisa-line-chart>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="4" [rowspan]="2">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          <h1>RPM</h1>
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item (click)="removeTile()">Remove</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <!-- Content -->
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="6" [rowspan]="2">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Expand</button>
            <button mat-menu-item (click)="removeTile()">Remove</button>
          </mat-menu>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <!-- Content -->
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


